.PhotoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PhotoList img {
  width: 30em;
  object-fit: cover;
  margin-bottom: 30px;
  border: 10px solid white;
  border-radius: 30px;
}
.PhotoList video {
  width: 17em;
  object-fit: cover;
  margin-bottom: 30px;
  border: 10px solid white;
  border-radius: 30px;
}

.PhotoList p {
  font-family: "Dancing Script", cursive;
  line-height: 2em;
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
  .PhotoList img {
    width: 15em;
  }
}
