@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

.App div,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("../public/eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
